.cardnote {
    font-family: sans-serif;
    box-sizing: border-box;
    min-width: 190px;
    height: 100px;
    background: #212121;
    border: 1px solid black;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: white;
    cursor: pointer;
  }

  .cardnote:hover {
    border: 1px solid red;
    transform: scale(1.05);
  }
  
  .cardnote:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }